html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
body,textarea,input,button,select,keygen,legend{font:0.26rem/1.5 Helvetica,"STHeiti STXihei","Microsoft YaHei",Tohoma,Arial;outline:0;}
a,a:hover{color:#000; text-decoration: none;}
body{color:#000;-webkit-text-size-adjust:none;}
html {min-height: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size:50px;}
html,body {height: 100%; width: 100%;}
* {box-sizing: border-box;}
a:focus,input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);}

a, img ,p,.scroll-top{-webkit-touch-callout:none;}/*系统默认菜单被禁用 */
a, button ,p,.scroll-top{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent;}

input::-webkit-input-placeholder {color:#828999;}
input:-moz-placeholder {color:#828999;}
input::-moz-placeholder {color:#828999;}
input:-ms-input-placeholder {color:#828999;}
textarea::-webkit-input-placeholder {color:#828999;}
textarea:-moz-placeholder {color:#828999;}
textarea::-moz-placeholder {color:#828999;}
textarea:-ms-input-placeholder {color:#828999;}

input,button {-webkit-appearance: none;}

.clearfix:after {content:"\200B";display:block;height:0;clear:both;}
.clearfix {*zoom:1;}

.app-init {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.scroll { overflow-y: auto;-webkit-overflow-scrolling: touch;}

/* 路由动画 */
.slide-go-enter-active,.slide-go-leave-active,.slide-back-enter-active,.slide-back-leave-active {
  -webkit-transition: transform 0.4s cubic-bezier(.55,0,.1,1);
  transition: transform 0.4s cubic-bezier(.55,0,.1,1);
}

.slide-go-leave {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slide-go-leave-to {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.slide-go-enter {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
.slide-go-enter-to {
  -webkit-transform: translate3d(0%,0,0);
  transform: translate3d(0%,0,0);
}
.slide-back-leave {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slide-back-leave-to {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.slide-back-enter {
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}
.slide-back-enter-to {
  -webkit-transform: translate3d(0%,0,0);
  transform: translate3d(0%,0,0);
}

.loading-bar {
  position: absolute;
  z-index: 400;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
}
.loading-bar {
  span.press {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background-color: #7e4985;
    transition: all 0.4s cubic-bezier(.55,0,.1,1);
  }
}
.loading-bar.loading span.press {
  width: 10%;
  opacity: 1;
}
.loading-bar.end span.press {
  width: 100%;
  opacity: 1;
}
.loading-bar.hide span.press {
  opacity: 0;
  width: 100%;
}
.loading-bar.normal span.press {
  opacity: 0;
  width: 0%;
}